@font-face {
  font-family: MADEGoodTimeScript;
  src: url(/assets/fonts/MADEGoodTimeScriptPERSONALUSE.otf);
  font-style: normal;
}

@font-face {
  font-family: modena;
  src: url("/assets/fonts/MODCB__.ttf"), url("/assets/fonts/Modena-CondensedBold.otf");
  font-style: normal;
}

@font-face {
  font-family: modena;
  src: url("/assets/fonts/MODCL__.ttf"), url("/assets/fonts/Modena-CondensedLight.otf");
  font-style: normal;
}

@font-face {
  font-family: modena;
  src: url("/assets/fonts/MODCM__.ttf"), url("/assets/fonts/Modena-CondensedMedium.otf");
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1084px;
  height: 1920px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.main-bg {
  background-image: url("/assets/images/home-pg-bg.png");
  height: 1320px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.main-bg .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
}

.main-bg .topbar .top-left {
  margin: 1rem 2rem;
  width: 100px;
  height: 125px;
}

.main-bg .topbar .top-left span {
  color: #00a6eb;
}

.main-bg .topbar .scanbar {
  margin: 2.5rem 3rem;
  border: 2.5px solid white;
  border-radius: 40px;
  padding: 1.5rem 2.4rem .4rem 1.5rem;
  position: relative;
}

.main-bg .topbar .scanbar .scan-qr {
  font-family: modena;
  font-size: 2rem;
  font-weight: lighter;
  position: absolute;
  top: -3.2rem;
  left: 5.1rem;
  background: #4475f6;
  padding-left: 7px;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.main-bg .topbar .scanbar .i-logo {
  position: absolute;
  right: -1.2rem;
  top: -2.9rem;
  font-size: 2rem;
  font-family: modena;
  border: 2px solid white;
  border-radius: 50%;
  background: #3a83f8;
  width: 2rem;
  height: 2rem;
  padding: 7px;
  font-weight: lighter;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.main-bg .topbar .scanbar .cell-coffe-cap {
  height: 106px;
  width: 119px;
  padding-right: 1rem;
}

.main-bg .topbar .scanbar .code-machine {
  width: 6.5rem;
  height: 6.5rem;
}

.main-bg .main .head-text {
  text-align: center;
  font-family: MADEGoodTimeScript;
  font-size: 8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  text-shadow: 2px 2px 4px #000000;
  padding: 0;
  margin: 0;
}

.main-bg .main #data-display-1 {
  display: none;
}

.main-bg .main #data-display-1 .content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin-top: 2rem;
}

.main-bg .main #data-display-1 .content-1 .product {
  margin-top: 5rem;
}

.main-bg .main #data-display-1 .content-1 .product-desription .price {
  width: 99px;
  font-family: Modena;
  font-size: 50px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #624df3;
  background: white;
}

.main-bg .main #data-display-1 .content-1 .product-desription .product-name {
  font-family: Modena;
  font-size: 3rem;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.93;
  color: #ffffff;
  padding: 1rem 0;
}

.main-bg .main #data-display-1 .content-1 .product-desription .description {
  height: 92px;
  font-family: Modena;
  font-size: 28px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.4px;
  text-align: left;
  color: #ffffff;
  width: 26rem;
  padding-bottom: 1rem;
}

.main-bg .main #data-display-1 .content-1 .product-desription .btn1 {
  all: unset;
  width: 123px;
  height: 36px;
  font-family: Modena;
  font-size: 2rem;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.32;
  letter-spacing: -1.1px;
  text-align: center;
  background: #00a6eb;
  padding: 0.7rem 2rem;
  margin-top: 3rem;
  border-radius: 34px;
}

.main-bg .main #data-display-1 .content-1 .product-desription .btn1 a {
  color: white;
}

.main-bg .main #data-display-2 {
  display: none;
}

.main-bg .main .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-bg .main .content-2 .product-content {
  margin-top: 7rem;
}

.main-bg .main .content-2 .product-content .item {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.main-bg .main .content-2 .product-content .item li {
  padding: .5rem 1rem .5rem 1.5rem;
  font-family: Modena;
  font-size: 36px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #00aeef;
  width: 220px;
}

.main-bg .main .content-2 .product-content .item li:not(:last-child):after {
  content: "";
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: table-cell;
  width: 300px;
  color: white;
}

.main-bg .main .content-2 .product-content .item li span {
  color: white;
}

.main-bg .main .content-2 .product-content .makers {
  width: 183px;
  height: 101px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 2.5rem;
}

.main-bg .main .content-2 .product {
  padding-right: 2rem;
}

.main-bg .main .content-2 .product-desription {
  margin-top: 4rem;
}

.main-bg .main .content-2 .product-desription .price {
  width: 99px;
  font-family: Modena;
  font-size: 50px;
  font-weight: bold;
  font-stretch: condensed;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #624df3;
  background: white;
}

.main-bg .main .content-2 .product-desription .product-name {
  font-family: Modena;
  font-size: 3rem;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.93;
  color: #ffffff;
  padding: 1rem 0;
}

.main-bg .main .content-2 .product-desription .description {
  height: 92px;
  font-family: Modena;
  font-size: 28px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -1.4px;
  text-align: left;
  color: #ffffff;
  width: 14rem;
  padding-bottom: 1rem;
}

.main-bg .main .content-2 .product-desription .quantity {
  height: 31px;
  font-family: Modena;
  font-size: 2.5rem;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-overflow: ellipsis;
  padding: 1.5rem 0;
}

.main-bg .main .content-2 .product-desription .btn1 {
  all: unset;
  width: 123px;
  height: 36px;
  font-family: Modena;
  font-size: 2rem;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.32;
  letter-spacing: -1.1px;
  text-align: center;
  background: #00a6eb;
  padding: 0.7rem 2rem;
  margin-top: 3rem;
  border-radius: 34px;
}

.main-bg .main .content-2 .product-desription .btn1 a {
  color: white;
}

.main-bg .drink-btns {
  position: absolute;
  bottom: 17%;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-bg .drink-btns .btn-blink {
  color: white;
  -webkit-box-shadow: 0px 2px 18px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0px 2px 18px 0 rgba(0, 0, 0, 0.26);
  font-family: Modena;
  font-size: 43.9px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.9;
  letter-spacing: -1.1px;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00aef0;
  padding: 3rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 1.5rem;
  -webkit-animation-name: blinker;
          animation-name: blinker;
  -webkit-box-shadow: 0 0 37px 9px black;
          box-shadow: 0 0 37px 9px black;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blinker {
  0% {
    background: #00aef0;
    color: white;
  }
  50% {
    background-color: white;
    color: #00aef0;
  }
  100% {
    background: #00aef0;
    color: white;
  }
}

@keyframes blinker {
  0% {
    background: #00aef0;
    color: white;
  }
  50% {
    background-color: white;
    color: #00aef0;
  }
  100% {
    background: #00aef0;
    color: white;
  }
}

.img-slider {
  margin-top: -12vh;
  -webkit-clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
  height: 620px;
}

.breaking-news {
  height: 10.3125rem;
  background-color: #9905ee;
}

.breaking-news .news-content {
  background: #00aef0;
  height: 100%;
  border-radius: 75px 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breaking-news .news-content .news-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breaking-news .news-content .daily-news {
  margin-left: 1rem;
  font-family: modena;
  color: white;
}

.breaking-news .news-content .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .2rem;
}

.breaking-news .news-content .settings .settings-item {
  width: 119px;
  height: 119px;
  margin: 0 .5rem;
}

.breaking-news .news-content .settings .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 50%;
  padding: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
  padding: 3px;
}

.breaking-news .news-content .settings .languages .flag {
  width: 32px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 2px;
}

.hd-drink-menu {
  background: url("/assets/images/gradient-background.png");
  height: 1920px;
  width: 100%;
}

.hd-drink-menu .hd-topbar {
  height: 129px;
  width: 100%;
  background: #00aef0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hd-drink-menu .hd-topbar .home-btn {
  margin-left: 1.5rem;
}

.hd-drink-menu .hd-topbar .credit {
  color: white;
  text-align: center;
  font-family: Modena;
  font-size: 32.5px;
  font-weight: 500;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
}

.hd-drink-menu .hd-topbar .credit span {
  font-size: 69.1px;
}

.hd-drink-menu .hd-topbar .coffee-cap {
  margin-right: 1.5rem;
}

.hd-drink-menu .menu-header {
  font-family: Modena;
  font-size: 40.6px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 3rem 0 2rem;
}

.hd-drink-menu .ht-menu:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
}

.hd-drink-menu .ht-menu .item-category {
  width: 97px;
  height: 32px;
  font-family: Modena;
  font-size: 43.9px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.39;
  letter-spacing: normal;
  text-align: left;
  color: #fcfafa;
  padding: 1rem 0 0 2rem !important;
}

.hd-drink-menu .ht-menu .hd-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hd-drink-menu .ht-menu .hd-items li {
  padding: 0 2rem;
}

.hd-drink-menu .ht-menu .hd-items li a img {
  width: 130px;
  height: 149px;
  -o-object-fit: contain;
     object-fit: contain;
  background: rgba(255, 192, 203, 0.4);
  padding-top: .5rem;
}

.hd-drink-menu .ht-menu .hd-items li a h5 {
  color: white;
  font-family: Modena;
  font-size: 27.8px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 0.55;
  letter-spacing: normal;
  text-align: center;
  padding: 1rem 0 .3rem;
}
/*# sourceMappingURL=app.css.map */