@import "variable.scss";
@import "mixins.scss";

//global
body {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 1084px;
    height: 1920px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.main-bg {
    // background-image: url('/assets/images/home-pg-bg.png');
    background: linear-gradient(to right top, #9905ee, #9704ee, #871cf0, #6c40f2, #4871f6, #3787f8);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    height: 1320px;
    height: 1375px;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color0;
        position: relative;

        .top-left {
            margin: 1rem 2rem;
            width: 100px;
            height: 125px;

            span {
                color: #00a6eb;
            }
        }

        .scanbar {
            margin: 2.5rem 3rem;
            border: 2.5px solid white;
            border-radius: 40px;
            padding: 1.5rem 2.4rem .4rem 1.5rem;
            position: relative;

            .scan-qr {
                font-family: $font1;
                font-size: 2rem;
                font-weight: lighter;
                position: absolute;
                top: -3.2rem;
                left: 5.1rem;
                // width: 150px;
                background: #4475f6;
                padding-left: 7px;
                /* Required for text-overflow to do anything */
                @include textOverflow();
                overflow: hidden;
            }

            .i-logo {
                @include flex();
                position: absolute;
                right: -1.2rem;
                top: -2.9rem;
                font-size: 2rem;
                font-family: $font1;
                border: 2px solid white;
                border-radius: 50%;
                background: #3a83f8;
                width: 2rem;
                height: 2rem;
                padding: 7px;
                font-weight: lighter;
                text-align: center;
                text-align: center;
            }

            .cell-coffe-cap {
                height: 106px;
                width: 119px;
                padding-right: 1rem;
            }

            .code-machine {
                width: 6.5rem;
                height: 6.5rem;
            }

        }

    }

    .main {
        .head-text {
            text-align: center;
            font-family: MADEGoodTimeScript;
            // font-size: 139.3px;
            font-size: 8rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: $color0;
            transform: rotate(-8deg);
            text-shadow: 2px 2px 4px #000000;
            padding: 0;
            margin: 0;
        }

        #data-display-1 {
            display: none;

            .content-1 {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                margin-top: 2rem;

                .product {
                    margin-top: 5rem;
                }

                .product-desription {

                    // margin-top: 4rem;
                    .price {
                        width: 99px;
                        font-family: $font1;
                        font-size: 50px;
                        font-weight: bold;
                        font-stretch: condensed;
                        font-style: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #624df3;
                        background: $color0;
                    }

                    .product-name {
                        font-family: $font1;
                        font-size: 3rem;
                        font-stretch: condensed;
                        font-style: normal;
                        line-height: 0.93;
                        color: #ffffff;
                        padding: 1rem 0;
                    }

                    .description {
                        height: 92px;
                        font-family: $font1;
                        font-size: 28px;
                        font-weight: 300;
                        font-stretch: condensed;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: -1.4px;
                        text-align: left;
                        color: #ffffff;
                        width: 26rem;
                        padding-bottom: 1rem;
                    }

                    .btn1 {
                        @include btn();
                        transform: scale(1);
                        animation-name: btn;
                        animation-duration: 2s;
                        margin-top: 3rem;


                        @keyframes btn {
                            0% {
                                opacity: 0;
                                transform: scale(1);
                            }

                            50% {
                                opacity: 1;
                                transform: scale(1.3);

                            }

                            100% {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }

                        a {
                            color: white;


                        }
                    }
                }
            }
        }

        #data-display-2 {
            display: none;
        }

        .content-2 {
            display: flex;
            justify-content: space-between;

            .product-content {
                margin-top: 7rem;

                .item {
                    /* Required for text-overflow to do anything */
                    @include textOverflow();
                    overflow: hidden;

                    li {
                        padding: .5rem 1rem .5rem 1.5rem;
                        font-family: $font1;
                        font-size: 36px;
                        font-weight: bold;
                        font-stretch: condensed;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #00aeef;
                        width: 220px;

                        &:not(:last-child):after {
                            content: "";
                            border-bottom-style: solid;
                            border-bottom-width: 2px;
                            display: table-cell;
                            width: 300px;
                            color: $color0;
                        }


                        span {
                            color: $color0;
                        }
                    }

                }

                .makers {
                    width: 183px;
                    height: 101px;
                    object-fit: contain;
                    padding-left: 2.5rem;
                }
            }

            .product {
                padding-right: 2rem;

            }

            .product-desription {
                margin-top: 4rem;

                .price {
                    width: 99px;
                    font-family: $font1;
                    font-size: 50px;
                    font-weight: bold;
                    font-stretch: condensed;
                    font-style: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #624df3;
                    background: $color0;
                }

                .product-name {

                    font-family: $font1;
                    font-size: 3rem;
                    font-stretch: condensed;
                    font-style: normal;
                    line-height: 0.93;
                    color: #ffffff;
                    padding: 1rem 0;
                }

                .description {
                    height: 92px;
                    font-family: $font1;
                    font-size: 28px;
                    font-weight: 300;
                    font-stretch: condensed;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: -1.4px;
                    text-align: left;
                    color: #ffffff;
                    width: 14rem;
                    padding-bottom: 1rem;
                }

                .quantity {
                    height: 31px;
                    font-family: $font1;
                    font-size: 2.5rem;
                    font-weight: 300;
                    font-stretch: condensed;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    padding: 1.5rem 0;
                    @include textOverflow();

                }

                .btn1 {
                    @include btn();
                    transform: scale(1);
                    animation-name: btn;
                    animation-duration: 2s;
                    margin-top: 3rem;


                    @keyframes btn {
                        0% {
                            opacity: 0;
                            transform: scale(1);
                        }

                        50% {
                            opacity: 1;
                            transform: scale(1.3);

                        }

                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }

                    a {
                        color: white;

                    }
                }
            }

        }

    }

    .drink-btns {
        position: absolute;
        bottom: 17%;
        left: 50%;
        transform: translate(-50%, 10px);
        display: flex;

        .btn-blink {
            @include flex();
            color: $color0;
            box-shadow: 0px 2px 18px 0 rgba(0, 0, 0, 0.26);
            font-family: $font1;
            font-size: 43.9px;
            font-weight: 300;
            font-stretch: condensed;
            font-style: normal;
            line-height: 0.9;
            letter-spacing: -1.1px;
            width: 4rem;
            height: 4rem;
            background: $color2;
            padding: 3rem;
            border-radius: 50%;
            text-align: center;
            margin: 0 1.5rem;
            animation-name: blinker;
            box-shadow: 0 0 37px 9px black;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        @keyframes blinker {
            0% {
                background: $color2;
                color: white;

            }

            50% {
                background-color: white;
                color: $color2;
            }

            100% {

                background: $color2;
                color: white;

            }
        }
    }
}

.img-slider {
    margin-top: -12vh;
    clip-path: polygon(0 28%, 100% 0, 100% 100%, 0% 100%);
    // height: 463px;
    // height: 545px;
    // height:590px;
    height: 620px;
}

.breaking-news {
    // height: 8.3125rem;
    height: 10.3125rem;
    background-color: #9905ee;

    .news-content {
        background: $color2;
        height: 100%;
        border-radius: 75px 0 0 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .news-section {
            @include flex();
        }

        .daily-news {
            margin-left: 1rem;
            ;
            font-family: $font1;
            color: $color0;
        }

        .settings {
            @include flex();
            margin: .2rem;

            .settings-item {
                // width: 119px;
                // height: 119px;
                // width: 125px;
                // height: 125px;
                margin: 0 .5rem;
            }

            #language-icon {
                @include flex();
                flex-direction: column;
                flex-wrap: wrap;
                background: $color0;
                border-radius: 50%;
                padding: 5px;
                object-fit: contain;
                width: 100px;
                height: 100px;
                padding: 3px;

                .flag {
                    width: 32px;
                    height: 30px;
                    object-fit: contain;
                    padding: 2px;

                }
            }
        }
    }
}


//HOTDRINK PAGE
.hd-drink-menu {
    background: url('/assets/images/gradient-background.png');
    height: 1920px;
    width: 100%;

    .hd-topbar {
        height: 129px;
        width: 100%;
        background: $color2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-btn {
            margin-left: 1.5rem;
        }

        .credit {
            color: $color0;
            text-align: center;
            // font-size: 1.5rem;
            font-family: $font1;
            font-size: 32.5px;
            font-weight: 500;
            font-stretch: condensed;
            font-style: normal;
            line-height: 1.06;
            letter-spacing: normal;

            span {
                font-size: 69.1px;
            }
        }

        .coffee-cap {
            margin-right: 1.5rem;
        }
    }

    .hd-main {
        // height: 1525px;
        height: 1393px;
    }

    .menu-header {
        margin: 2rem 0 2rem 0;

        .back-btn {
            margin-left: 2rem;
            float: left;
        }

        .menu {
            font-family: $font1;
            font-size: 40.6px;
            font-weight: 300;
            font-stretch: condensed;
            font-style: normal;
            line-height: 1.9;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            margin-right: 9rem;
        }
    }


    .ht-menu {
        .item-category {
            width: 97px;
            height: 32px;
            font-family: $font1;
            font-size: 43.9px;
            font-weight: 300;
            font-stretch: condensed;
            font-style: normal;
            line-height: 0.39;
            letter-spacing: normal;
            text-align: left;
            color: $color1;
            padding: 1rem 0 0 2rem !important;
        }

        ul {
            margin: 0;
        }

        .hd-items {
            display: flex;
            // margin:2rem 2rem;

            li {
                padding: 0 2rem;

                a {
                    img {
                        width: 130px;
                        height: 149px;
                        object-fit: contain;
                        background: rgba(255, 192, 203, .4);
                        padding-top: .4rem;
                    }

                    h5 {
                        color: $color0;
                        font-family: $font1;
                        font-size: 27.8px;
                        font-weight: 300;
                        font-stretch: condensed;
                        font-style: normal;
                        line-height: 0.55;
                        letter-spacing: normal;
                        text-align: center;
                        padding: 0.3rem 0 .3rem;
                    }
                }
            }
        }
    }
}

.ht-img-slider {
    background: linear-gradient(to right, #9905ee, #940bef, #7e28f1, #614ef4);
    height: 366px;

    .item {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;

        .item-details {
            margin: 1rem 0 0 2rem;
            color: $color0;

            .price {
                font-family: $font1;
                font-size: 50px;
                font-weight: bold;
                font-stretch: condensed;
                font-style: normal;
                line-height: 0.67;
                letter-spacing: -0.5px;
                text-align: center;
                color: $color5;
                background: $color0;
                padding: .7rem 1rem;
                width: 98px;
            }

            .item-name {
                font-family: $font1;
                font-size: 50.3px;
                font-weight: bold;
                font-stretch: condensed;
                font-style: normal;
                line-height: 1;
                letter-spacing: -0.5px;
                text-align: left;
                color: #ffffff;
                @include textOverflow();
                overflow: hidden;
                padding: 1rem 0;
            }

            .btn1 {
                @include btn();
            }
        }

        .hd-product {
            width: 169px;
            height: 196px;
            object-fit: contain;
        }

        .item-content {
            li {
                padding: .8rem 0;
                font-family: $font1;
                font-size: 31.8px;
                font-weight: 300;
                font-stretch: condensed;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: right;
                color: $color6;
                @include textOverflow();
                overflow: hidden;

                &:not(:last-child):after {
                    content: "";
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    display: table-cell;
                    width: 210px;
                    color: $color0;
                }

                span {
                    color: $color0;
                }

                strong {
                    font-family: $font1;
                    font-size: 48px;
                    font-weight: bold;
                    font-stretch: condensed;
                    font-style: normal;
                    line-height: 0.98;
                    letter-spacing: -0.48px;
                    text-align: left;
                    color: $color6;
                }
            }
        }
    }
}

// Footer support button
#bg-support-popUp {
    // width: 1084px;
    // height: 1920px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 166, 235, .7);
    display: none;
    top: 0;
    position: absolute;

    #support-popUp {
        width: 884px;
        height: 1401px;
        background: white;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
        color: #00a6eb;
        text-align: center;
        font-family: $font1;

        .support-head-text {
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: normal;
            position: relative;
            top: -5px;
        }

        .close-btn {
            position: absolute;
            position: absolute;
            right: 0;
            top: 0;
            margin: 1.2rem;
        }

        .support-img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 10px);
        }

        .personaggio-img {
            position: absolute;
            top: 59%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bottom-headText {
            position: absolute;
            font-size: 4.7rem;
            line-height: 1;
            font-weight: normal;
            bottom: 26%;
            left: 50%;
            transform: translate(-50%, 10px) rotate(-8deg);
        }

        p {
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translate(-50%, 10px);
            background-color: white;
            font-size: 2.2rem;
            text-transform: uppercase;
            color: black;

            span {
                color: #00a6eb;
                font-weight: bold;
                font-size: 4.5rem;
            }
        }
    }
}

// footer Product code Popup
#bg-ProductCode-popUp {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 166, 235, .7);
    display: none;
    top: 0;
    position: absolute;


    #ProductCode-popUp {
        width: 922px;
        height: 1762px;
        background: white;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
        color: #00a6eb;
        text-align: center;

        .close-btn1 {
            position: absolute;
            right: 0;
            margin: 1.5rem;
        }

        .head-text {
            font-size: 6rem;
            letter-spacing: 1px;
            font-weight: normal;
            font-family: $font2;
            // position: absolute;
            // top:-10%;
            object-fit: contain;
            line-height: 0.9;
            letter-spacing: normal;
            text-align: center;
            color: #00a6eb;
            @include textOverflow();
            transform: rotate(-9deg);
        }

        .NumbarPad {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);

            .row {
                display: flex;
                text-align: center;

                .digit {
                    font-family: $font1;
                    font-size: 8.5rem;
                    font-weight: bold;
                    font-stretch: condensed;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: $color0;
                    padding: 2rem 4rem;
                    margin: 1rem;
                    background: #00afed;
                    width: 6rem;
                    height: 8rem;
                    object-fit: contain;
                }
            }
        }
    }
}

// footer Language Selection popup
#bg-language-popUp {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 166, 235, .7);
    display: none;
    top: 0;
    position: absolute;

    #language-popUp {
        width: 884px;
        height: 1401px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        background: white;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 10;
        color: #00a6eb;
        text-align: center;

        .close-btn2 {
            position: absolute;
            right: 0;
            margin: 1.5rem;
        }

        .head-text {
            font-size: 6rem;
            letter-spacing: 1px;
            font-weight: normal;
            font-family: $font2;
            position: absolute;
            top: -10%;
            width: 541px;
            object-fit: contain;
            line-height: 0.9;
            letter-spacing: normal;
            text-align: center;
            color: #00a6eb;
            @include textOverflow();
            transform: rotate(-9deg);
        }

        #language-btns {
            @include flex();
            width: 100%;
            height: 100%;
            flex-direction: column;


            .language {
                all: unset;
                width: 259px;
                height: 73px;
                border-radius: 36.5px;
                border: 1px solid $color6;
                //    background-color: #00aeef;
                font-family: font1;
                font-size: 2.3rem;
                font-weight: 300;
                line-height: 0.39;
                letter-spacing: -0.9px;
                text-align: center;
                color: #00a6eb;
                margin: 1.2rem 0;
            }
        }
    }
}

//HOt Drink page product pop up
#hd-product-popUp-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 166, 235, .7);
    // display: none;
    top: 0;
    position: absolute;

    #product-popUp {
        width: 922px;
        height: 1762px;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        color: #00a6eb;
        text-align: center;

        .close-btn {
            position: absolute;
            right: 0;
            margin: 1.5rem;
        }

        .hd-product-bg {
            margin: 4rem auto 0 auto;
            width: 384px;
            height: 384px;
            object-fit: contain;
            background-image: linear-gradient(to top right, #871cf0, #6c40f2, #4871f6);
            border-radius: 50%;

            .hd-product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
        }
    }
}